body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    background-color: lightsalmon;
}

/* Bar */

.bar {
    background-color: teal;
    padding-top: 24px;
    padding-bottom: 10px;
}

.bar a {
    text-decoration: none;
    color: lightsalmon;
    margin-left: 70px;
}

/* Intro */

.intro {
    text-align: center;
    color: coral;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    padding: 20px;
    margin-top: 140px;
    margin-bottom: 220px;
}

/* Summary */

.summary {
    color: white;
    margin-left: 24px;
}

.summary h2 {
    color: yellow;
}

/* Photos */

.photos {
    padding-top: 80px;
    text-align: center;
}

.photos img {
    width: 30%;
    height: auto;
    margin: 0 10px;
}

/* Testimonial */

.testimonial {
    color: yellow;
    background-color: teal;
    padding-left: 24px;
    height: 240px;
    padding-top: 90px;
    margin-top: 40px;
}

.meetup {
    margin-top: 60px;
    text-align: center;
    color: yellow;
}

.meetup img {
    width: 40%;
    height: auto;
}

@media only screen and (max-width: 1050px) {
    .photos img {
        width: 100%;
        margin: 10px auto;
    }
}

@media only screen and (max-width: 640px) {
    .bar a {
        display: block;
        width: 100%;
        margin: 14px auto;
        text-align: center;
    }
}

@media only screen and (min-width: 150px) {}